.hairclip-img {
  width: 150px;
  height: 150px;
}
.hairclip-card-container {
  min-width: 384px;
}
#products {
  width: 14.5%;
}
#opinions {
  width: 13%;
}
@media (min-width: 768px) {
  .hairclip-img {
    width: 300px;
    height: 300px;
  }
  .hairclip-card-container {
    min-width: 384px;
  }
  #products {
    width: 41%;
  }
  #opinions {
    width: 36%;
  }
}
